*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(180deg,#1fa385,#0b7c67);

}

.container{

display:flex;
gap:40px;

}

.card{

background:#fff;

padding:40px;

width:300px;

border-radius:10px;

box-shadow:0 5px 20px rgba(0,0,0,0.2);

}

h2{

text-align:center;
margin-bottom:20px;

}

input{

width:100%;

padding:10px;

margin-top:10px;

border:1px solid #ccc;

border-radius:5px;

}

button{

width:100%;

margin-top:15px;

padding:10px;

border:none;

background:#1fa385;

color:white;

font-size:16px;

border-radius:5px;

cursor:pointer;

}

button:hover{

background:#178a70;

}

.error{

color:red;

font-size:12px;

height:14px;

}

.switch{

margin-top:15px;

font-size:14px;

text-align:center;

}

.switch a{

color:#1fa385;

text-decoration:none;

}